<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Загрузка-данных" data-toc-modified-id="Загрузка-данных-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Загрузка данных</a></span></li><li><span><a href="#CLASS---классы-бронирования---конкатенация-в-один-файл" data-toc-modified-id="CLASS---классы-бронирования---конкатенация-в-один-файл-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>CLASS - классы бронирования - конкатенация в один файл</a></span></li><li><span><a href="#Короткая-версия-датасета" data-toc-modified-id="Короткая-версия-датасета-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Короткая версия датасета</a></span></li></ul></div>

In [1]:
from IPython.display import display, HTML
display(HTML("<style>.container { width:100% !important; }</style>"))

In [2]:
from os import listdir
from os.path import isfile, join
import pandas as pd

# Загрузка данных

Необходимо, чтобы все файлики с информацией о классах бронирования были распакованы и лежали в папке **data**. Код далее выгружает все имена соответсвующих файлов в формате **csv**:

In [3]:
all_files = ['data/'+f for f in listdir('data/') if isfile(join('data/', f))]
all_files

['data/CLASS_012018.csv',
 'data/CLASS_012019.csv',
 'data/CLASS_022018.csv',
 'data/CLASS_022019.csv',
 'data/CLASS_032018.csv',
 'data/CLASS_032019.csv',
 'data/CLASS_042018.csv',
 'data/CLASS_042019.csv',
 'data/CLASS_052018.csv',
 'data/CLASS_052019.csv',
 'data/CLASS_062018.csv',
 'data/CLASS_062019.csv',
 'data/CLASS_072018.csv',
 'data/CLASS_072019.csv',
 'data/CLASS_082018.csv',
 'data/CLASS_082019.csv',
 'data/CLASS_092018.csv',
 'data/CLASS_092019.csv',
 'data/CLASS_102018.csv',
 'data/CLASS_102019.csv',
 'data/CLASS_112018.csv',
 'data/CLASS_112019.csv',
 'data/CLASS_122018.csv',
 'data/CLASS_122019.csv',
 'data/CLEAR_CLASS_TO_USE_short.zip',
 'data/RASP2020.csv']

# CLASS - классы бронирования - конкатенация в один файл

Соберем все файлы в один, так нам будет удобнее работать:

In [4]:
classes = [i for i in all_files if i.startswith('data/CLASS')]
df_class = pd.concat([pd.read_csv(filename, sep=';') for filename in classes])
print(df_class.shape)

(92726552, 17)

Оставим только те записи по рейсам, у которых дата до вылета положительна (именно на них будем строить динамику):

In [5]:
df_class = df_class[df_class['DTD'] > -1][['SDAT_S', 'DD', 'DTD',  'FLT_NUM', 'SORG', 'SDST', 'SEG_CLASS_CODE', 'PASS_BK']]

In [6]:
df_class['SDAT_S'] = pd.to_datetime(df_class['SDAT_S'], format='%d.%m.%Y')
df_class['DD'] = pd.to_datetime(df_class['DD'], format='%d.%m.%Y')

Сохраним полученный файл. С ним будет работать наше приложение:

In [ ]:
df_class.to_parquet('data/CLEAR_CLASS_TO_USE.parquet')

In [7]:
df_class.head()

          SDAT_S         DD  DTD  FLT_NUM SORG SDST SEG_CLASS_CODE  PASS_BK
16126 2017-07-10 2018-01-04  178     1120  SVO  AER              I        0
16127 2017-07-10 2018-01-04  178     1120  SVO  AER              Z        0
16128 2017-07-10 2018-01-04  178     1120  SVO  AER              O        0
16129 2017-07-10 2018-01-04  178     1120  SVO  AER              Y        0
16130 2017-07-10 2018-01-04  178     1120  SVO  AER              B        0

# Короткая версия датасета

Полный файл отрабатывает долго. Можно использовать его сокращенную версию. Именно ее мы загрузили в git-репо.

In [ ]:
df_class_short = df_class[df_class['FLT_NUM'].isin([1120, 1125, 1175, 1172])]
df_class_short.to_parquet('data/CLEAR_CLASS_TO_USE_short.parquet')